# Code editors and platform local preferences.
.Desktop.ini
.DS_Store
.idea/
*.iml
*.ipr
*.iws

# Node.
node_modules/

# Tauri.
src-tauri/target/
src-tauri/gen/schemas

# Compilation output.
dist/
dist-ssr/
storybook-static/

*.ttf
.swc