:root div {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(
    --fontStack-sansSerif,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji"
  );
  font-size: var(--body-font-size, 14px);
  font-weight: var(--base-text-weight-normal, 400);
}
