:root div {
  box-sizing: border-box;
}

@font-face {
  font-family: "Alibaba PuHuiTi 3.0";
  src: url("./assets/AlibabaPuHuiTi-3-55-RegularL3.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Alibaba PuHuiTi 3.0", sans-serif;
}
